.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: black;
  font-weight: bolder;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}
.xng-breadcrumb-link
{
color: orange !important;
font-weight: bolder;
}
.xng-breadcrumb-root
{
color: azure !important;
}
